$primary: #000;
$background-main: #666;
$background-two: #f9f9f3;
$error: #f44336;

$disabled: #d7d7d7;
$primary-hover: #404044;
$primary-active: #666666;
$secondary-hover: #d24335;

$background-card: #dcdcd9;
$background-button: #a7a7a7;
